.containerHome {
    width: 100%;
    margin-top: 80px;
}

.imgCarrossel {
    width: 100%;
    margin-top: 50px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.slick-slider {
    position: relative;
}

.slick-prev,
.slick-next {
    z-index: 2;
}

.slick-prev {
    left: 45px;
    z-index: 2;
    margin-top: 25px;
}

.slick-next {
    right: 45px;
    z-index: 2;
    margin-top: 25px;
}

.slick-prev:before,
.slick-next:before {
    color: white;
    font-size: 40px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #00985d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-shadow:
        -2px -2px 0 #00985d,
        2px -2px 0 #00985d,
        -2px 2px 0 #00985d,
        2px 2px 0 #00985d;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    z-index: 2;
}

.slick-dots li button:before {
    font-size: 15px;
    color: black;
    opacity: 0.5;
    margin-top: 5px;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 1;
}

.belowCarousel {
    display: flex;
    background: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 50%, #e0e0e0 100%);
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -4px;
    flex-wrap: wrap;
    gap: 10px;
}

.fieldIten {
    display: flex;
    background: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 50%, #e0e0e0 100%);
    width: 300px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.fieldIten:hover {
    background: #ffffff;
    transition: all 0.6s;
    cursor: pointer;
}

.imgIten {
    width: 70px;
    margin-left: 20px;
    margin-top: 2px;
}

.textIten {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #31692f;
    margin-right: 20px;
    text-align: left;
}

.containerNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickNavigation {
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.horizontalBar {
    background-color: #828181;
    width: 500px;
    height: 2px;
}

.textNavegation {
    font-size: 20px;
    color: #59a12f;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 60px;
    width: 100%;
}

.iconsNavegation {
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    color: #3b3b3b;
}

.carousel {
    display: flex;
    overflow: hidden;
    gap: 60px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 130px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.carousel-item:hover {
    transform: scale(1.2);
}

.carousel-icon {
    width: 90px;
    height: 70px;
}

.carousel-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #3b3b3b;
    font-weight: bold;
}

.tipsField {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgTips {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgTip {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: auto;
}

.imgTip img {
    display: block;
    width: 600px;
    height: auto;
    max-width: 100%;
}

.imgTip img:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.moreTips {
    display: flex;
    width: 80%;
    height: 60px;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    padding: 0 50pxpx;
    color: #017c23;
    font-weight: bold;
    cursor: pointer;
}

.moreTips:hover {
    color: #980000;
    transition: all 0.5s;
    opacity: 0.8;
}

.plansField {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-direction: column;
    margin-bottom: 100px;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    gap: 10px;
}

.squares:hover {
    gap: 5px;
}

.square {
    flex: 1;
    color: #ffffff;
    width: 100%;
    transition: flex 0.3s ease;
    height: 190px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
    overflow: hidden;
    box-sizing: border-box;
}

.square:hover {
    flex: 1.5;
}

.textSquare {
    width: 200px;
    height: 100%;
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

.textSquare:hover {
    width: 100%;
}

.textPlan1{
    font-weight: bold;
    font-size: 18px;
}

.textPlan2 {
    font-style: italic;
    font-size: 15px;
}

.textPlan3 {
    font-weight: bold;
    font-size: 15px;
}

.header {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.footer {
    flex: 1;
    display: flex;
}