.containerHome {
    width: 100%;
    margin-top: 80px;
}

.imgCarrossel {
    width: 100%;
    margin-top: 50px;
    display: block;
    object-fit: cover;
    cursor: pointer;
}

.slick-slider {
    position: relative;
}

.slick-prev,
.slick-next {
    z-index: 2;
}

.slick-prev {
    left: 45px;
    z-index: 2;
    margin-top: 25px;
}

.slick-next {
    right: 45px;
    z-index: 2;
    margin-top: 25px;
}

.slick-prev:before,
.slick-next:before {
    color: white;
    font-size: 40px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-color: #00985d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    text-shadow:
        -2px -2px 0 #00985d,
        2px -2px 0 #00985d,
        -2px 2px 0 #00985d,
        2px 2px 0 #00985d;
    box-sizing: border-box;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.slick-dots {
    position: absolute;
    bottom: 15px;
    width: 100%;
    display: flex !important;
    justify-content: center;
    z-index: 2;
}

.slick-dots li button:before {
    font-size: 15px;
    color: black;
    opacity: 0.5;
    margin-top: 5px;
}

.slick-dots li.slick-active button:before {
    color: black;
    opacity: 1;
}

.belowCarousel {
    display: flex;
    background: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 50%, #e0e0e0 100%);
    padding: 0px 80px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: -4px;
    flex-wrap: wrap;
    gap: 10px;
}

.fieldIten {
    display: flex;
    background: linear-gradient(to bottom, #f2f2f2 0%, #e6e6e6 50%, #e0e0e0 100%);
    width: 300px;
    height: 80px;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.fieldIten:hover {
    background: #ffffff;
    transition: all 0.6s;
    cursor: pointer;
}

.imgIten {
    width: 70px;
    margin-left: 20px;
    margin-top: 2px;
}

.textIten {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #31692f;
    margin-right: 20px;
    text-align: left;
}

.containerNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quickNavigation {
    display: flex;
    width: 80%;
    height: 100px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.horizontalBar {
    background-color: #828181;
    width: 600px;
    height: 2px;
}

.textNavegation {
    font-size: 20px;
    color: #59a12f;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0px 20px;
}

.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 60px;
    width: 100%;
}

.iconsNavegation {
    text-decoration: none;
    cursor: pointer;
    font-size: 40px;
    color: #3b3b3b;
}

.carousel {
    display: flex;
    overflow: hidden;
    gap: 60px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 130px;
    background-color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.carousel-item:hover {
    transform: scale(1.2);
}

.carousel-icon {
    width: 90px;
    height: 70px;
}

.carousel-text {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    color: #3b3b3b;
    font-weight: bold;
}

.tipsField {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgTips {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.imgTip {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: auto;
}

.imgTip img {
    display: block;
    width: 600px;
    height: auto;
    max-width: 100%;
}

.imgTip img:hover {
    cursor: pointer;
    opacity: 0.9;
    transition: all 0.2s;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.moreTips {
    display: flex;
    width: 80%;
    height: 60px;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    color: #017c23;
    font-weight: bold;
}

.tip {
    cursor: pointer;
    display: flex;
}

.tip:hover {
    color: #980000;
    transition: all 0.5s;
    opacity: 0.8;
}

.plansField {
    display: flex;
    width: 100%;
    height: 200px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 45px;
}

.squaresPlan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100px;
    gap: 10px;
    flex-direction: row;
    margin-top: 55px;
}

.squares:hover {
    gap: 5px;
}

.square {
    flex: 1;
    color: #ffffff;
    width: 100%;
    transition: flex 0.3s ease;
    height: 190px;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 20px;
    overflow: hidden;
    box-sizing: border-box;
    cursor: pointer;
}

.square:hover {
    flex: 1.5;
}

.textSquare {
    width: 200px;
    height: 100%;
    align-content: space-between;
    display: flex;
    flex-direction: column;
}

.textSquare:hover {
    width: 100%;
}

.textPlan1 {
    font-weight: bold;
    font-size: 18px;
}

.textPlan2 {
    font-style: italic;
    font-size: 15px;
}

.textPlan3 {
    font-weight: bold;
    font-size: 15px;
}

.header {
    flex: 5;
    display: flex;
    flex-direction: column;
}

.footer {
    flex: 1;
    display: flex;
}

.opcoes {
    cursor: pointer;
    display: flex;
    margin-top: 90px;
}

.opcoes:hover {
    color: #980000;
    transition: all 0.5s;
    opacity: 0.8;
}

.fieldNews {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 40px 0;
    margin-top: -35px;
}

.groupNews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    gap: 20px;
    flex-wrap: wrap;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    overflow: hidden;
}

.news:hover {
    opacity: 90%;
    cursor: pointer;
    transition: all 0.3s;
}

.imgNews {
    width: 100%;
    height: auto;
}

.texts {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    box-sizing: border-box;
}

.titleNews {
    font-size: 17px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #017c23;
}

.textNews {
    font-size: 14px;
    margin-bottom: 5px;
    color: #383838;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.more {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: #017c23;
}

.containerFooter {
    display: flex;
    width: 100%;
    background-color: #005d51;
    justify-content: center;
    padding: 50px 0;
    margin-top: 90px;
}

.fieldFooter {
    display: flex;
    width: 80%;
    gap: 50px;
}

.linksField {
    display: flex;
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
    color: #ffffff;
}

.styleLink1 {
    font-weight: bold;
    font-size: 20px;
}

.footerBar {
    width: 100%;
    height: 4px;
    background-color: #8dc63f;
    margin: 3px 0;
}

.styleLink2 {
    margin: 2px 0;
}

.styleLink2:hover {
    color: #8dc63f;
    transition: all 0.3s;
    cursor: pointer;
}

.links1 {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.socialMedias {
    display: flex;
}

.media {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    font-size: 30px;
    margin-left: 5px;
    cursor: pointer;
}

.links2 {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.links3 {
    margin-top: 45px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.email {
    display: flex;
    flex-direction: row;
    width: 45%;
    align-items: center;
    justify-content: space-around;
    padding: 6px 3px;
    border-radius: 5px;
    border: 2px solid #ffffff;
    margin-top: 10px;
}

.email:hover {
    color: #8dc63f;
    transition: all 0.3s;
    cursor: pointer;
    border: 2px solid #8dc63f;
}

.selosQualidade {
    margin-top: 5px;
}

.logoANS {
    width: 100px;
    margin-top: 10px;
    cursor: pointer;
}