.headerContainer {
    text-align: center;
    align-items: center;
}

.aboveHeader {
    background-color: #005d51;
    color: #ffffff;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.aboveLeft {
    display: flex;
    align-items: center;
    gap: 20px;
}

.textAbove {
    font-size: 15px;
}

.textAbove2 {
    font-size: 15px;
}

b {
    margin-left: 5px;
}

.linkAbove {
    color: #ffffff;
    text-decoration: none;
}

.pesquisa {
    padding: 1px 10px;
    padding-right: 30px;
    border-radius: 7px;
    border: none;
    outline: none;
    height: 30px;
    font-size: 13px;
    width: 150px;
    max-width: 100%;
    color: #000000;
}

.pesquisa::placeholder {
    color: #4d4d4d;
    opacity: 1;
}

.searchContainer {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #00985d;
    cursor: pointer;
}

.belowHeader {
    background-color: #00985d;
    padding: 0 22px;
    height: 66px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.logo {
    width: 170px;
    cursor: pointer;
    position: static;
    margin-top: 15px;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.menu > ul > li {
    width: 100px;
    height: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 13px;
    color: white;
    cursor: pointer;
    position: relative;
    padding: 0 10px;
    transition: background-color 0.3s;
    box-sizing: border-box;
    white-space: normal;
    line-height: 1.2;
}

.menu > ul > li:not(:first-child)::before {
    content: "";
    display: inline-block;
    width: 0.5px;
    height: 40px;
    background-color: #bad147;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.menu > ul > li:hover {
    color: #bad147;
}

.submenu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    padding: 15px 0;
    z-index: 10;
    box-shadow:
        inset 0 8px 0 0 #bad147,
        inset 0 -8px 0 0 #bad147,
        0 0px 8px rgba(0, 0, 0, 0.3);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-top: -3px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.submenu li {
    padding: 10px 20px;
    white-space: nowrap;
    color: #4d4d4d;
    font-size: 13px;
    display: block;
}

.submenu li:hover {
    color: #b3ac33;
    transition: all 0.5s;
}

.submenuIcon {
    margin-right: 4px;
    margin-left: -4px;
    margin-bottom: 5px;
    vertical-align: middle;
    color: #bad147;
}